<div class="row">
	<div class="block-countries mt-4 mb-4 col-md-5 col-12">
		<div class="row">
			<div class="col-12">
				<h2>Listado de paises</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<mat-form-field class="w-100">
					<mat-select [(ngModel)]="regionSelected" (selectionChange)="filterCountries($event)">
						<mat-option *ngFor="let region of listRegions" [value]="region.code">
							{{region.name}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<!-- cdkDropList, en este caso es una directivas toca internamente albol DOM de HTML, (como era antiguamente con JQuery) -->
			<div
			class="col-12 drop-list"
			cdkDropList
			#lCountries="cdkDropList"
			(cdkDropListDropped)= "drop($event)"
			[cdkDropListData]="listCountries"
			[cdkDropListConnectedTo]="[lCountriesVisit]"
			>
				<div cdkDrag class="row m-0 mt-2 mb-2 country" *ngFor="let country of listCountries">
					<div class="col-3 p-0">
						<img [src]="country.flag" alt="" class="img-fluid">
					</div>
					<div class="col-9">
						<span>{{country.name}}</span>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div class="block-countries mt-4 mb-4 offset-md-2 col-md-5 col-12">
		<div class="row">
			<div class="col-11">
				<h2> Lista de paises a visitar</h2>
			</div>
		</div>
		<div class="row">
			<!-- cdkDropList, en este caso es una directivas toca internamente albol DOM de HTML, (como era antiguamente con JQuery) -->
			<div
			class="col-12 drop-list"
			cdkDropList
			#lCountriesVisit="cdkDropList"
			(cdkDropListDropped)= "drop($event)"
			[cdkDropListData]="listCountriesToVisit"
			[cdkDropListConnectedTo]="[lCountries]"
			>
				<div cdkDrag class="row m-0 mt-2 mb-2 country" *ngFor="let country of listCountriesToVisit">
					<div class="col-3 p-0">
						<img [src]="country.flag" alt="" class="img-fluid">
					</div>
					<div class="col-9">
						<span>{{country.name}}</span>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="h-100" *ngIf="!load">
	<div class="spinner">
		<img src="assets/img/spinner.gif" alt="">
	</div>

</div> -->